MYSQL_ROOT_PASSWORD=ChangeMe123!
MYSQL_DATABASE=taller_cookies
MYSQL_USER=taller_user
MYSQL_PASSWORD=Secret123!

DB_HOST=db
DB_NAME=taller_cookies
DB_USER=taller_user
DB_PASS=Secret123!
DB_CHARSET=utf8mb4

APP_PORT=8000
